<h1>Artículos para donar</h1>
<%= link_to 'Crear artículo', new_item_path %>
<table>
	<tr>
		<th>Título</th>
		<th>Descripción</th>
		<th colspan="2"></th>
	</tr>

	<% @items.each do |item| %>
	<tr>
		<td> <%= item.title%> </td>
		<td> <%= item.description%></td>
		<td> <%= link_to 'Ver' , item_path(item)%></td>
		<td> <%= link_to 'Editar' , edit_item_path(item)%></td>
		<td> <%= link_to 'Borrar' , item_path(item), method: :delete, data: { confirm: '¿Estas seguro?' }  %></td>
	</tr>
</table>
	<% end %>
